.cart {
    top: 130px;
	padding: 30px;
    position: sticky;
	margin-right: 45px;
	border-radius: 8px;
	background-color: #ff99004d;
}

.cart h4 {
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 50px;
    font-weight: 400;
}

.cart p {
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 25px;
}

.cart h6 {
	margin-top: 0;
	font-size: 21px;
    font-weight: 400;
}
